[user]
  name = Ivan Kryvoruchko
  mail = gildraug@gmail.com
  email = gildraug@gmail.com
  signingkey = 41EF9C7DEE72758A
[github]
  user = gsnewmark
[core]
  excludesfile = ~/.gitignore_global
  autocrlf = input
[color]
  ui = true
[push]
  default = simple
[commit]
  template = /home/gsnewmark/.git_commit_msg
  gpgsign = true
[magit]
  hideCampaign = true
