#include "/home/gsnewmark/.nord-xresources/src/nord"

Xft.dpi: 96
rofi.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
