[submodule "emacs.d"]
	path = emacs.d
	url = git://github.com/overtone/emacs-live
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "live-packs/gsnewmark-pack/lib/emacs-color-theme-solarized"]
	path = live-packs/gsnewmark-pack/lib/emacs-color-theme-solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
