desktop_environment/.config/gtk-3.0/bookmarks
desktop_environment/.config/ranger/bookmarks
desktop_environment/.config/ranger/history
desktop_environment/.config/ranger/tagged
development/.sbt/boot/*
development/.sbt/plugins/*/*
development/.sbt/preloaded/*
development/.sbt/0.13/plugins/project
development/.sbt/0.13/plugins/target
development/.sbt/0.13/staging
development/.sbt/1.0/plugins/project
development/.sbt/1.0/plugins/target
development/.sbt/1.0/server
development/.sbt/1.0/staging
development/.sbt/1.0/zinc
foundation/.config/fish/conf.d
foundation/.config/fish/functions
foundation/.config/fish/fish_variables
foundation/.config/fish/fishd.orithena
media/.config/mpd/mpd.db
media/.config/mpd/mpd.log*
media/.config/mpd/mpd.pid
media/.config/mpd/mpdstate
media/.config/mpd/playlists/*
media/.ncmpcpp/error.log
media/.ncmpcpp/artists/*
