byobu/.*
lein/self-installs/*
lein/repl-history
sbt/boot/*
sbt/plugins/*/*
sbt/preloaded/*
sbt/0.13/plugins/project
sbt/0.13/plugins/target
sbt/1.0/plugins/project
sbt/1.0/plugins/target
xboomx/xboomx.db
mpd/mpd.db
mpd/mpd.log
mpd/mpd.pid
mpd/mpdstate
mpd/playlists/*
ncmpcpp/error.log
ncmpcpp/artists/*
config/*
node_modules
config/ranger/bookmarks/*
boot/cache/*
