:root {    /* Nord by Chris Kempson (http://chriskempson.com), modified by gsnewmark */
    --base00: #2e3440;
    --base01: #3b4252;
    --base02: #434c5e;
    --base03: #4c566a;
    --base04: #d8dee9;
    --base05: #e5e9f0;
    --base06: #eceff4;
    --base07: #8fbcbb;
    --base08: #88c0d0;
    --base09: #81a1c1;
    --base0A: #5e81ac;
    --base0B: #bf616a;
    --base0C: #d08770;
    --base0D: #ebcb8b;
    --base0E: #a3be8c;
    --base0F: #b48ead;

    --separator: #1c2028;

    --tridactyl-fg: var(--base04);
    --tridactyl-bg: var(--base02);
    --tridactyl-url-fg: var(--base08);
    --tridactyl-url-bg: var(--base02);
    --tridactyl-highlight-box-bg: var(--base01);
    --tridactyl-highlight-box-fg: var(--base04);

    /* Hint character tags */
    --tridactyl-hintspan-fg: var(--base00) !important;
    --tridactyl-hintspan-bg: var(--base0D) !important;

    /* Element Highlights */
    --tridactyl-hint-active-fg: none;
    --tridactyl-hint-active-bg: none;
    --tridactyl-hint-active-outline: none;
    --tridactyl-hint-bg: none;
    --tridactyl-hint-outline: none;

    --tridactyl-font-family: "Iosevka SS07";
    --tridactyl-cmplt-font-family: "Iosevka SS07";
    --tridactyl-hintspan-font-family: "Iosevka SS07";
}

#command-line-holder {
    order: 1;
    border: 2px solid var(--separator);
    color: var(--tridactyl-bg);
}

#tridactyl-input {
    padding: 1rem;
    color: var(--tridactyl-fg);
    width: 90%;
    font-size: 1.5rem;
    line-height: 1.5;
    background: var(--tridactyl-bg);
    padding-left: unset;
    padding: 1rem;
}

#completions table {
    border-spacing: 0;
    table-layout: fixed;
    padding: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* COMPLETIONS */

#completions {
    color: var(--tridactyl-fg);
    background: var(--tridactyl-bg);
    display: inline-block;
    overflow: hidden;
    width: 100%;
    border-top: unset;
    order: 2;
}

#completions .HistoryCompletionSource table {
    width: 100%;
    border-spacing: 0;
    table-layout: fixed;
}

#completions table tr td.prefix,#completions table tr td.privatewindow,#completions table tr td.container,#completions table tr td.icon {
    display: none;
}

#completions .BufferCompletionSource table {
    width: unset;
    font-size: unset;
    border-spacing: unset;
    table-layout: unset;
}

#completions table tr .title {
    width: 50%;
}

#completions table tr {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#completions .sectionHeader {
    background: unset;
    border-bottom: unset;
    padding: 1rem !important;
    padding-left: unset;
    padding-bottom: 0.2rem;
}

#cmdline_iframe {
    position: fixed !important;
    bottom: unset;
    top: 25% !important;
    left: 10% !important;
    z-index: 2147483647 !important;
    width: 80% !important;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px !important;
}

.TridactylStatusIndicator {
    position: fixed !important;
    bottom: 0 !important;
    background: var(--tridactyl-bg) !important;
    border: unset !important;
    border: 1px var(--separator) solid !important;
    font-size: 12pt !important;
    padding: 0.8ex !important;
}

#completions .focused {
    background: var(--base01);
}

#completions .focused .url {
    background: var(--base01);
}
